<!-- <h2>This Root Component</h2> -->

<app-header></app-header>

<!-- mat expansion panel starts -->
<div app-container app-col class="mat-expansion-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Add Note
                </mat-panel-title>
                <mat-panel-description>
                    Click here to add a new Note
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div app-container app-col class="input-container">
                <mat-form-field>
                    <input [(ngModel)]="note.title" matInput type="text" placeholder="Enter the Title">
                </mat-form-field>

                <mat-form-field>
                    <!-- <input matInput type="password" placeholder="Enter the Title"> -->
                    <textarea [(ngModel)]="note.text" matInput name="text" id="text"
                        placeholder="Enter the Text"></textarea>
                </mat-form-field>

                <button (click)="takeNote()" mat-raised-button color="primary">Add Note</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- <h2>Deepan</h2> -->
</div>


<!-- mat expansion ends -->
<!-- <app-note-taker></app-note-taker> -->
<label *ngIf="errorMessage">{{errorMessage}}</label>
<div app-container app-row class="cards">
    <mat-card *ngFor="let note of notes">
        <mat-card-header>
            <mat-card-title>{{note.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{note.text}}</mat-card-content>
    </mat-card>
</div>